MAIN_BOT_TOKEN=
PAYMENT_BOT_TOKEN=

MAIN_BOT_USERNAME=zvezdopadtg_bot
PAYMENT_BOT_USERNAME=

API_ID=
API_HASH=

PG_DBNAME=zvezdopad_db
PG_USER=root
PG_PASSWORD=CHANGE_ME
PG_HOST=db
PG_PORT=5432

WEBHOOK_HOST=https://starswheelapp.fun

ADMIN_IDS=
SUBGRAM_API_KEY=

CHANEL_ID=-100
NEWS_CHANEL_ID=-100
WIN_CHANEL_ID=-100
LOG_CH_USER=-100
LOG_VER_USER=-100
LOG_VIVOD_CHANEL=-100

WEBAPP_PORT=8080
WEBHOOK_PATH_PREFIX=/webhook
